<div class="container p-0">
    <div class="pokedex d-flex flex-column">
        <div class="pokedex-header w-100">
            <div class="pokedex-header-content d-flex gap-3 pt-3">
                <div class="indicator"></div>
                <div class="d-flex gap-2 lights">
                    <div class="light1"></div>
                    <div class="light2"></div>
                    <div class="light3"></div>
                </div>
            </div>
        </div>
        <div class="pokedex-content">
            <div class="box">

            </div>
            <div class="triangle">

            </div>
            <div class="triangle-shadow">

            </div>
        </div>
        <div class="pokedex-footer">

        </div>
    </div>
</div>