<div class="container px-0 py-5">
    <div class="pokedex raised d-flex flex-column">
        <div class="pokedex-header w-100">
            <div class="pokedex-header-content d-flex gap-3 pt-3">
                <div class="indicator raised"></div>
                <div class="d-flex gap-2 lights">
                    <div class="light1 raised"></div>
                    <div class="light2 raised"></div>
                    <div class="light3 raised"></div>
                </div>
            </div>
        </div>
        <div class="pokedex-content">
            <div class="box"></div>
            <div class="triangle"></div>
            <div class="triangle-shadow"></div>
            <div class="door position-relative" [ngClass]="{'open': isOpen}">
                <app-pokedex-menu *ngIf="isOpen" class="position-absolute"></app-pokedex-menu>
                <div class="door-container" [ngClass]="{'open': isOpen}">
                    <button (click)="toggleDoor()"><div class="triangle-left"></div></button>
                    <div class="door-panel"></div>
                </div>
            </div>
        </div>
        <div class="pokedex-footer">

        </div>
    </div>
</div>