@import '../../../styles/scss/theme.scss';

.container {

    .pokedex {
        -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
        background-color: $red;
        max-width: 400px;
        height: 500px;
        margin: 0 auto;
        border-radius: 10px;

        .pokedex-header {
            height: 75px;

            .pokedex-header-content {
                width: 75%;
                height: 100%;
                margin: 0 auto;
                position: relative;

                .indicator {
                    position: relative;
                    overflow: hidden;
                    width: 50px;
                    height: 50px;
                    display: inline-block;

                    border-radius: 100%;
                    color: #fff;
                    text-decoration: none;
                    text-align: center;
                    line-height: 50px;
                    font-size: 12px;
                    font-family: sans-serif;
                    background-color: $blue;

                }

                .indicator:after {
                    content: "";
                    position: absolute;
                    top: -110%;
                    left: -210%;
                    width: 200%;
                    height: 200%;
                    opacity: 0;
                    transform: rotate(30deg);

                    background: rgba(255, 255, 255, 0.13);
                    background: linear-gradient(to right,
                            rgba(255, 255, 255, 0.13) 0%,
                            rgba(255, 255, 255, 0.13) 77%,
                            rgba(255, 255, 255, 0.5) 92%,
                            rgba(255, 255, 255, 0.0) 100%);
                    animation: indicatorAnimation 2s linear infinite;
                }

                @keyframes indicatorAnimation {

                    0%,
                    100% {
                        opacity: 1;
                        top: -30%;
                        left: -30%;
                    }

                    50% {
                        opacity: 0;
                        top: -110%;
                        left: -210%;
                    }
                }

                // .indicator:hover:after {
                //     opacity: 1;
                //     top: -30%;
                //     left: -30%;
                //     transition-property: left, top, opacity;
                //     transition-duration: 0.7s, 0.7s, 0.15s repeat;
                //     transition-timing-function: ease;
                // }

                .indicator:active:after {
                    opacity: 0;
                }

                .lights {

                    .light1 {
                        width: 30px;
                        height: 30px;
                        border-radius: 100%;
                        background-color: red;
                    }

                    .light2 {
                        width: 30px;
                        height: 30px;
                        border-radius: 100%;
                        background-color: yellow;
                    }

                    .light3 {
                        width: 30px;
                        height: 30px;
                        border-radius: 100%;
                        background-color: green;
                    }
                }
            }
        }

        .pokedex-content {
            margin: 1rem auto;
            height: 100%;
            min-height: 300px;
            width: 75%;
            border: 3px solid $lightblack;
            border-radius: 10px;
            position: relative;
        }

        .pokedex-footer {
            width: 75%;
            min-height: 50px;
        }
    }

}

.door {
    width: 100%;
    height: 100%;
    background-color: #ccc;
    position: relative;
    border-radius: 10px;

    .door-container {
        width: 100%;
        height: 100%;
        position: relative;
        transform-origin: right;
        transition: transform 0.5s ease-in-out;
        display: flex;
        align-items: center;

        .door-panel {
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1) inset;
            width: 100%;
            height: 100%;
            background-color: $red;
            border-radius: 5px;
        }

        button {
            position: absolute;
            width: 0;
            height: 0;
            border-top: 20px solid transparent;
            border-right: 40px solid yellow;
            border-bottom: 20px solid transparent;
            cursor: pointer;
            background-color: transparent;
        }
    }

    &.open .door-container {
        transform: rotateY(180deg);
    }
}

.raised {
    border: 4px outset #999;
    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}